@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"width" 100;
}

/* shared styless */

.main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.btn-pri{
    width: 280px;
    height: 94px;
    color: white;
    background-color: rgba(255, 144, 14, 1);
    margin-bottom: 20px;
    border-radius: 10px;
}

.btn-pri2{
    width: 300px;
    height: 200px;
    color: white;
    background-color: rgba(255, 144, 14, 1);
    margin-bottom: 20px;
    border-radius: 10px;
}

.display{
    display: flex;
}

/* dark 03 */
/* .text-light-grey{

} */

/* dark 02 */

.text-dark-02{
    color: rgb(241, 187, 9);
    
    /* greay */
}

.text-grey{
    color: #e33737;
}

/* header */
.bg-header{
    background-color: rgba(255, 179, 14, 0.1);
    border-radius: 10px;

}
/* .header{
    background-color: rgba(255, 179, 14, 0.1);
    width: 1440px;
} */

/* navbar style */
.navbar{
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 10px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
.banner .navbar{
    width: 1440px;
    margin: 0 auto;
    border-radius: 10px;
}

/* banner styles */
.banner{
    text-align: center;
    margin-top: 10px;
}
.image{
    width: 90%;
}

/* maim  */
/* .team-content{
    
} */

.quick{
    align-items: center;
    display: flex;
    
    
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    
}

.features{
    margin-left: 130px;
    gap: 130px;

}

/* Features related area  */

.feature{
    display: flex;
    gap: 100px;
}

#section-titile{
    border-left: 8px solid chocolate;
    padding-left: 15px;
   
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
     
}

#experience-button{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -50px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;

}
.feature-architect img{
    width: 100%;
}

/* Some fact related styless */
.fact{
    /* width: 241px;
    height: 241px;
    top: 3663px;
    left: 1263px; */
    border-radius: 8px;
    /* color: rgb(241, 187, 9); */
    border: 1px solid rgb(241, 187, 9);
    /* width: 240px;
    height: 240px; */
    /* border: radius 8px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 24px;
    width: 240px;
    height: 240px;
}

.fact-container{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-number{
    font-size: 1.5rem;
}
/* Sponssor area  */
.sponsor{
    text-align: center;
    max-width: 540px;
    align-items: center;
    margin: 0 auto;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);

}
.sponsor-companies img{
    filter: grayscale(100%);
}


/* Responsive area  */

@media screen and (max-width: 575px) {

    .navbar, 
    .nav-links{
        flex-direction: column;
    } 
    .image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .quick{
        flex-direction: column;
        grid-template-columns:repeat(1, 1fr)
        
    }

    .feature{

        flex-direction: column;
    }


.features{
    margin-left: 10px;
    /* width: ; */
}
.fact-container{
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    align-items: center;
}
.sponsor-companies{
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    justify-content: center;
    align-items: center;
}
#experience-button{
    margin-left: 20px;
    margin-top: 50px;
}


    
}

/* Medium size devices */
@media screen and (min-width: 576px) and (max-width: 992px){
    
    .navbar, 
    .nav-links{
        flex-direction: column;
    } 

    .sponsor-companies, .fact-container{
        grid-template-columns:repeat(2, 1fr);
    }

    
}
